.container {
    padding: 16px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 32px 16px;
    grid-auto-rows: 1fr;
}

@media (min-width: 1000px) {
    .container {
        grid-template-columns: 1fr;
        padding: 32px;
        grid-gap: 32px 32px;
    }
}
