.buttons {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 0 12px;
}

.button:global(.MuiButtonBase-root) {
    font-weight: bold;
    padding: 4px;
    min-height: 40px;
    margin-bottom: 16px;
    box-sizing: border-box;
}

.button:hover:global(.MuiButtonBase-root) {
    color: inherit;
    background-color: inherit;
}

.button:hover:global(.MuiButtonBase-root) > .icon {

}

.button:active:global(.MuiButtonBase-root) > .icon {

}

.button:active:global(.MuiButtonBase-root) {

}

.icon {
    height: 32px;
    width: auto;
    margin-right: 4px;
}

.text {
    font-size: 16px;
}
