.container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 32px;
    background-color: rgba(0, 0, 0, 0.5);
    visibility: hidden;
    z-index: 100;
    backdrop-filter: blur(0px) opacity(0);
}

.container.visible {
    visibility: visible;
    backdrop-filter: blur(5px) opacity(1);
    transition: visibility 250ms, backdrop-filter 500ms;
}
