.nav {
    position: fixed;
    top: 0;
    right: -100vw;
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    border-radius: 0;
    z-index: 50;
}

.navHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 72px;
    padding: 16px;
    width: 100%;
}

.sectionLeft, .sectionRight {
    display: flex;
    align-items: center;
    height: 100%;
}

.logoContainer {
    height: 100%;
}

.sectionRight {
    flex-shrink: 0;
}

.image {
    height: 100%;
    width: auto;
}

.closeIcon {
    font-size: 32px;
}

.navBody {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    flex-grow: 1;
    flex-shrink: 0;
    padding: 16px;
}

.accordion {
    background-color: transparent;
    color: inherit;
}
