@import "swiper/swiper-bundle.css";

:root {
    --headerPrimaryHeight: 72px;
    --footerPrimaryHeight: 64px;
    --footerPrimaryBorderHeight: 4px;
    --tabsCommonHeight: 44px;
    --cartColor: 255, 200, 0;
}

*, ::after, ::before {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
}

@media (min-width: 700px) {
    --headerPrimaryHeight: 70px;
}


a, a:hover, a:active {
    text-decoration: none;
}

